@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$max-width: 1260px;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 9px;
  }

  @media screen and (max-width: 768px) {
    font-size: 8px;
  }

  @media screen and (max-width: 425px) {
    font-size: 7px;
  }
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }

a, p {
  font-size: 1.3rem;
}

input {
  font-family: inherit;
}

.xViewWrapper {
  max-width: $max-width;
  padding: 5rem 3rem;
  margin: 0 auto;
}

.xLoadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
    .lds-dual-ring:after {
      content: '';
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #FFF;
      border-color: #FFF transparent #FFF transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  @keyframes lds-dual-ring {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
