.xTodosAddEdit {
  margin: 1rem 0;
}

  .xTodosAddEdit form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    .xTodosAddEdit form input {
      min-width: 320px;
      width: 100%;
      height: 35px;
      margin-right: 1rem;
      border: 1px solid #DDD;
      padding: 0.5rem 1rem 0.5rem 1.5rem;
    }
    .xTodosAddEdit form button {
      flex-shrink: 0;
      padding: 1rem 2rem;
      margin: 1rem 0;
      color: #FFF;
      background-color: #7186D7;
      border: none;
      border-radius: 3px;
      transition: 0.25s;
      cursor: pointer;
    }
      .xTodosAddEdit form button:hover {
        background-color: #677AC4;
      }

  .xTodosAddEdit.-todos-form-editing {
  }
    .xTodosAddEdit.-todos-form-editing form {
    }
      .xTodosAddEdit.-todos-form-editing form input {
        border: 1px solid #C33;
      }
      .xTodosAddEdit.-todos-form-editing form button {
        background: #C33;
      }
    .-todos-edit-warning {
      font-size: 1.5rem;
      font-weight: bold;
      color: #C33;
    }
    .-todos-edit-warning a {
      cursor: pointer;
    }
