.xTodosListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: 1px solid #DDD;
  border-radius: 5px;
}

  .xTodosListItem:not(:last-child) {
    margin-bottom: 1rem;
  }

  .xTodosListItem__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 125px;
    margin-left: 2rem;
    text-align: right;
  }
    .xTodosListItem__actions > a {
      font-size: 1rem;
      cursor: pointer;
    }
      .xTodosListItem__actions > a > input {
        cursor: pointer;
      }

  .-todos-completed {
    border: 1px solid #3C3;
  }
  .-todos-completed h2 {
    color: #3C3;
    text-decoration: line-through;
  }
